/* Should be a component in midnight */

.card-container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	max-width: 400px;
	width: 100%;
	padding: 16px;
	border: 1px solid #efefef;
	border-radius: 8px;
}